/Dataset
/dataset.csv
/dataset.yaml
/frames
/output_frames
/Review-Imaging Fluid bed.pdf
/runs
/sequence_dataset
/sequence_model.pt
/Testset
/yolo11n.pt
/yolo26n.pt
/yolo_dataset
/جدول_مراحل_التسليم_والمخرجات.xlsx
/عقد_نظام_مراقبة_الجسيمات_بنيان_تك_ش2.docx